<footer class="footer">
    <div>
        <div class="row">
            <div class="col-12 text-center">
                <p>&copy; 2025 E-commerce Onda Sonar. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>